<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onemt.news.crawler.mysql.mapper.CrawlerMediaCategoryMapper">
	
	<!-- 源的分类统计 -->
	<select id="selectByFetchTimeForCategory" parameterType="HashMap"
		resultType="com.onemt.news.crawler.mysql.entity.MediaCategoryVo">
		SELECT
			IFNULL(
				t.mediaId,
				concat(
					'新闻源总数:',
					CONVERT (
						count(DISTINCT t.mediaId),
						CHAR
					)
				)
			) mediaId,
			IFNULL(
				t.id,
				(
					CASE
					WHEN t.mediaId IS NULL THEN
						CONCAT(
							'同源媒体总数:',
							count(DISTINCT t.id)
						)
					ELSE
						CONCAT(
							'同源:',
							t.processor,
							' 媒体总数:',
							count(DISTINCT t.id)
						)
					END
				)
			) id,
		
			IF (
				t.id IS NOT NULL,
		
			IF (
				t.extend = 'index',
				'排除index项',
				sum(t.total)
			),
		
			IF (
				t.mediaId IS NULL,
				CONCAT(
					'采集文章总数:',
					sum(t.total)
				),
				CONCAT(
					'该源',
					t.processor,
					'采集文章总数:',
					sum(t.total)
				)
			)
			) total
		FROM
			(
				<!-- 文本,视频,图集 -->
				SELECT
					m.mediaId,
					m.id,
					m.processor,
					m.extend,
					count(cc.id) total
				FROM
					crawler_media_category m
				LEFT JOIN (
					SELECT
						c.mediaCategoryId,
						c.id
					FROM
						crawler_article c
					WHERE
						c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
					AND UNIX_TIMESTAMP(
						TIMESTAMPADD(DAY, 1, #{date})
					)
				) cc ON m.id = cc.mediaCategoryId
				WHERE
					m.isEnable = 1
				AND m.type != 'breakingnews'
				GROUP BY
					m.mediaId,
					m.id
				
				UNION ALL
				<!-- 快讯 -->
					SELECT
						m.mediaId,
						m.id,
						m.processor,
						m.extend,
						count(cc.id) total
					FROM
						crawler_media_category m
					LEFT JOIN (
						SELECT
							c.mediaCategoryId,
							c.id
						FROM
							crawler_breaking_news c
						WHERE
							c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
						AND UNIX_TIMESTAMP(
							TIMESTAMPADD(DAY, 1, #{date})
						)
					) cc ON m.id = cc.mediaCategoryId
					WHERE
						m.isEnable = 1
					AND m.type = 'breakingnews'
					GROUP BY
						m.mediaId,
						m.id
			) t
		GROUP BY
			t.mediaId,
			t.id WITH ROLLUP	
			
	</select>
	
	
	<!-- 源的统计 -->
	<select id="selectByFetchTimeForMedia" parameterType="HashMap"
		resultType="com.onemt.news.crawler.mysql.entity.MediaVo">
		<if test="type==null">
			SELECT
				ifnull(
					mediaid,
					CONCAT('文本源采集总数:')
				) id,
				SUM(total) total
			FROM
				(
					SELECT
						m.mediaid mediaid,
						count(cc.id) total
					FROM
						crawler_media_category m
					LEFT JOIN (
						SELECT
							c.id,
							c.mediaCategoryId
						FROM
							crawler_article c
						WHERE
							c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
						AND UNIX_TIMESTAMP(
							TIMESTAMPADD(DAY, 1, #{date})
						)
					) cc ON m.id = cc.mediaCategoryId
					WHERE
						m.isEnable = 1
					AND m.type != 'breakingnews'
					GROUP BY
						m.mediaId
			
					UNION ALL
			
						SELECT
							m.mediaid,
							count(cc.id) total
						FROM
							crawler_media_category m
						LEFT JOIN (
							SELECT
								c.id,
								c.mediaCategoryId
							FROM
								crawler_breaking_news c
							WHERE
								c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
							AND UNIX_TIMESTAMP(
								TIMESTAMPADD(DAY, 1, #{date})
							)
						) cc ON m.id = cc.mediaCategoryId
						WHERE
							m.isEnable = 1
						AND m.type = 'breakingnews'
						GROUP BY
							m.mediaId
				) t
			GROUP BY
				mediaId WITH ROLLUP
		</if>
		
		
		<if test="type!=null and type != 'breakingnews'">	
			SELECT
				ifnull(m.mediaid,CONCAT(
	        	<if test="type != null and type=='text'">
	            '文本源采集总数:'
	        	</if>
	        	<if test="type != null and type=='gallery'">
	            '图集源采集总数:'
	        	</if>
	        	<if test="type != null and type=='video'">
	            '视频源采集文章总数:'
	        	</if>
				)) id,
				count(cc.id) total
			FROM
				crawler_media_category m
			LEFT JOIN (
				SELECT
					c.id,
					c.mediaCategoryId
				FROM
					crawler_article c
				WHERE
					c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
				AND UNIX_TIMESTAMP(TIMESTAMPADD(DAY,1,#{date}))
			) cc ON m.id = cc.mediaCategoryId
			WHERE
				m.isEnable = 1
			<if test="type != null">
	            and m.type=#{type}
	        </if>
			GROUP BY
				m.mediaId WITH ROLLUP
		</if>
		
		<if test="type == 'breakingnews'">
			SELECT
				ifnull(m.mediaid,CONCAT('快讯采集总数:')) id,
				count(cc.id) total
			FROM
				crawler_media_category m
			LEFT JOIN (
				SELECT
					c.id,
					c.mediaCategoryId
				FROM
					crawler_breaking_news c
				WHERE
					c.fetchTime BETWEEN UNIX_TIMESTAMP(#{date})
				AND UNIX_TIMESTAMP(TIMESTAMPADD(DAY,1,#{date}))
			) cc ON m.id = cc.mediaCategoryId
			WHERE
				m.isEnable = 1
	            and m.type = 'breakingnews' 
			GROUP BY
				m.mediaId WITH ROLLUP
		</if>
			
	</select>

	
	<!-- 未开启采集的源 -->
	<select id="selectForMedia" parameterType="HashMap"
		resultType="com.onemt.news.crawler.mysql.entity.MediaOpenVo">
		select distinct m.mediaId id,m.type type from crawler_media_category m where m.isEnable=0 order by m.type,m.mediaId
	</select>

</mapper>