<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onemt.news.crawler.mysql.mapper.CrawlerArticleMapper" >
  <resultMap id="BaseResultMap" type="com.onemt.news.crawler.mysql.entity.CrawlerArticle" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mediaCategoryId" property="mediaCategoryId" jdbcType="INTEGER" />
    <result column="mediaId" property="mediaId" jdbcType="INTEGER" />
    <result column="sourceUrl" property="sourceUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="fetchTime" property="fetchTime" jdbcType="INTEGER" />
    <result column="publishTime" property="publishTime" jdbcType="INTEGER" />
    <result column="readCount" property="readCount" jdbcType="INTEGER" />
    <result column="commentCount" property="commentCount" jdbcType="INTEGER" />
    <result column="likeCount" property="likeCount" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sourceUrlMd5" property="sourceUrlMd5" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
    <result column="isFeatured" property="isFeatured" jdbcType="BIT" />
    <result column="newsCategoryId" property="newsCategoryId" jdbcType="INTEGER" />
    <result column="regionId" property="regionId" jdbcType="INTEGER" />
    <result column="contentUrl" property="contentUrl" jdbcType="VARCHAR" />
    <result column="mediaName" property="mediaName" jdbcType="VARCHAR" />
    <result column="mediaIcon" property="mediaIcon" jdbcType="VARCHAR" />
    <result column="sourceCategory" property="sourceCategory" jdbcType="VARCHAR" />
    <!-- v1.2 新增字段 2017/1/16 -->
    <result column="categoryId" property="categoryId" jdbcType="INTEGER" />
    <result column="subcategoryId" property="subcategoryId" jdbcType="INTEGER" />
    <result column="region" property="region" jdbcType="INTEGER" />    
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.onemt.news.crawler.mysql.entity.CrawlerArticleWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="textContent" property="textContent" jdbcType="LONGVARCHAR" />
    <result column="htmlContent" property="htmlContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, mediaCategoryId, mediaId, sourceUrl, title, tags, fetchTime, publishTime, readCount, 
    commentCount, likeCount, author, type, sourceUrlMd5, lang, isFeatured, newsCategoryId, 
    regionId, contentUrl, mediaName, mediaIcon, sourceCategory,categoryId,subcategoryId,region
  </sql>
 <!--  <sql id="Blob_Column_List" >
    description, content, textContent, htmlContent
  </sql>
  
  <select id="selectByFetchTime" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawler_article
    where fetchTime > #{fetchTime} LIMIT #{offset},#{limit}
  </select> -->
  
   <!-- v1.2版本 -->
   <sql id="Blob_Column_List" >
    c.description, c.content, c.textContent, c.htmlContent
  </sql>
   
  <select id="selectByFetchTime" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawler_article left join crawler_article_content c on id=c.articleId 
    where fetchTime > #{fetchTime} LIMIT #{offset},#{limit}
  </select>
   
   
   <select id="selectByOrderFetchTime" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crawler_article order by fetchTime desc LIMIT 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from crawler_article
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.onemt.news.crawler.mysql.entity.CrawlerArticle" >
    insert into crawler_article (id, mediaCategoryId, mediaId, 
      sourceUrl, title, tags, 
      fetchTime, publishTime, readCount, 
      commentCount, likeCount, author, 
      type, sourceUrlMd5, lang, 
      isFeatured, newsCategoryId, regionId, 
      contentUrl, mediaName, mediaIcon, 
      sourceCategory,categoryId,subcategoryId,region)
    values (#{id,jdbcType=BIGINT}, #{mediaCategoryId,jdbcType=INTEGER}, #{mediaId,jdbcType=INTEGER}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{fetchTime,jdbcType=INTEGER}, #{publishTime,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{sourceUrlMd5,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, 
      #{isFeatured,jdbcType=BIT}, #{newsCategoryId,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, 
      #{contentUrl,jdbcType=VARCHAR}, #{mediaName,jdbcType=VARCHAR}, #{mediaIcon,jdbcType=VARCHAR}, 
      #{sourceCategory,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{subcategoryId,jdbcType=INTEGER},
      #{region,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.onemt.news.crawler.mysql.entity.CrawlerArticle" >
    insert into crawler_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mediaCategoryId != null" >
        mediaCategoryId,
      </if>
      <if test="mediaId != null" >
        mediaId,
      </if>
      <if test="sourceUrl != null" >
        sourceUrl,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="fetchTime != null" >
        fetchTime,
      </if>
      <if test="publishTime != null" >
        publishTime,
      </if>
      <if test="readCount != null" >
        readCount,
      </if>
      <if test="commentCount != null" >
        commentCount,
      </if>
      <if test="likeCount != null" >
        likeCount,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sourceUrlMd5 != null" >
        sourceUrlMd5,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="isFeatured != null" >
        isFeatured,
      </if>
      <if test="newsCategoryId != null" >
        newsCategoryId,
      </if>
      <if test="regionId != null" >
        regionId,
      </if>
      <if test="contentUrl != null" >
        contentUrl,
      </if>
      <if test="mediaName != null" >
        mediaName,
      </if>
      <if test="mediaIcon != null" >
        mediaIcon,
      </if>
      <if test="sourceCategory != null" >
        sourceCategory,
      </if>
      <if test="categoryId != null" >
        categoryId,
      </if>
      <if test="subcategoryId != null" >
        subcategoryId,
      </if>
      <if test="region != null" >
        region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mediaCategoryId != null" >
        #{mediaCategoryId,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="sourceUrl != null" >
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="fetchTime != null" >
        #{fetchTime,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=INTEGER},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrlMd5 != null" >
        #{sourceUrlMd5,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="isFeatured != null" >
        #{isFeatured,jdbcType=BIT},
      </if>
      <if test="newsCategoryId != null" >
        #{newsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="contentUrl != null" >
        #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaName != null" >
        #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="mediaIcon != null" >
        #{mediaIcon,jdbcType=VARCHAR},
      </if>
      <if test="sourceCategory != null" >
        #{sourceCategory,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="subcategoryId != null" >
        #{subcategoryId,jdbcType=INTEGER},
      </if>
      <if test="region != null" >
        #{region,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.onemt.news.crawler.mysql.entity.CrawlerArticle" >
    update crawler_article
    <set >
      <if test="mediaCategoryId != null" >
        mediaCategoryId = #{mediaCategoryId,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null" >
        mediaId = #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="sourceUrl != null" >
        sourceUrl = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="fetchTime != null" >
        fetchTime = #{fetchTime,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        publishTime = #{publishTime,jdbcType=INTEGER},
      </if>
      <if test="readCount != null" >
        readCount = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        commentCount = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        likeCount = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrlMd5 != null" >
        sourceUrlMd5 = #{sourceUrlMd5,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="isFeatured != null" >
        isFeatured = #{isFeatured,jdbcType=BIT},
      </if>
      <if test="newsCategoryId != null" >
        newsCategoryId = #{newsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        regionId = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="contentUrl != null" >
        contentUrl = #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaName != null" >
        mediaName = #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="mediaIcon != null" >
        mediaIcon = #{mediaIcon,jdbcType=VARCHAR},
      </if>
      <if test="sourceCategory != null" >
        sourceCategory = #{sourceCategory,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
       	categoryId = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="subcategoryId != null" >
       	subcategoryId = #{subcategoryId,jdbcType=INTEGER},
      </if>
      <if test="region != null" >
       	region = #{region,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.onemt.news.crawler.mysql.entity.CrawlerArticle" >
    update crawler_article
    set mediaCategoryId = #{mediaCategoryId,jdbcType=INTEGER},
      mediaId = #{mediaId,jdbcType=INTEGER},
      sourceUrl = #{sourceUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      fetchTime = #{fetchTime,jdbcType=INTEGER},
      publishTime = #{publishTime,jdbcType=INTEGER},
      readCount = #{readCount,jdbcType=INTEGER},
      commentCount = #{commentCount,jdbcType=INTEGER},
      likeCount = #{likeCount,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sourceUrlMd5 = #{sourceUrlMd5,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      isFeatured = #{isFeatured,jdbcType=BIT},
      newsCategoryId = #{newsCategoryId,jdbcType=INTEGER},
      regionId = #{regionId,jdbcType=INTEGER},
      contentUrl = #{contentUrl,jdbcType=VARCHAR},
      mediaName = #{mediaName,jdbcType=VARCHAR},
      mediaIcon = #{mediaIcon,jdbcType=VARCHAR},
      sourceCategory = #{sourceCategory,jdbcType=VARCHAR},
      categoryId = #{categoryId,jdbcType=INTEGER},
      subcategoryId = #{subcategoryId,jdbcType=INTEGER},
      region = #{region,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>