<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onemt.news.crawler.mysql.mapper.CrawlerArticleMapper" >
	<!-- 源的分类统计 -->
	<select id="selectByFetchTime" parameterType="HashMap"
		resultType="com.onemt.news.crawler.mysql.entity.ArticleVo">
			SELECT
				FROM_UNIXTIME(c.fetchTime, '%Y-%m-%d') date,
				c.type type,
				count(*) total
			FROM
				crawler_article c
			WHERE
				c.fetchTime BETWEEN UNIX_TIMESTAMP(
					TIMESTAMPADD(DAY, - 9, #{date})
				)
			AND UNIX_TIMESTAMP(
				TIMESTAMPADD(DAY, 1, #{date})
			)
			GROUP BY
				FROM_UNIXTIME(c.fetchTime, '%Y-%m-%d'),c.type
	</select>
</mapper>